.greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 15%
}

.greeting-content {
  width: 400px;
  /*background-color: rgba(255, 255, 255, 0.079);*/
  border: 2px solid hsla(0, 0%, 83%, 0.798);
  background-color: #0D0D0D;
  margin: 0px 70px;
  padding: 30px;
  color: #FFFFFF;
  /*box-shadow: rgba(0, 0, 0, 0.3) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 0, 0, 0.3) 0px -2px 6px 0px inset;*/
  box-shadow: rgba(0, 0, 0, 0.80) 0px 22px 70px 4px;
  border-radius: 5px;
}

.hello {
  margin-bottom: 0px;
}

.hello,
.hello-name {
  margin-top: 0px;
}

.hello-name {
  margin-bottom: 20px;
}

.greeting-container h1,
.greeting-container p {
  width: 390px;
}

.greeting-container p {
  margin-bottom: 5px;
  font-size: 17px;
}

.greeting-container span {
  font-family: "Dancing Script", cursive;
  color: #00FF85;
}

.greeting-container #noun {
  font-size: 18px;
  color: #00FF85;
}

.greeting-container .detective {
  margin-top: 0px;
}

@media (max-width: 380px) {
  .greeting-container {
    margin-top: 30%;
  }
  .greeting-content {
    width: 160px;
    margin: 0px 20px;
  }
  .greeting-container h1,
  .greeting-container p {
    width: 150px;
  }
  .greeting-container h1 {
    font-size: 17px;
  }
  .greeting-container p {
    font-size: 12px;
  }
  .greeting-container #noun {
    font-size: 13px;
  }
}

@media (min-width: 380px) and (max-width: 500px) {
  .greeting-container {
    margin-top: 30%;
  }
  .greeting-content {
    width: 190px;
  }
  .greeting-container h1,
  .greeting-container p {
    width: 180px;
  }
  .greeting-container h1 {
    font-size: 17px;
  }
  .greeting-container p {
    font-size: 12px;
  }
  .greeting-container #noun {
    font-size: 13px;
  }
}

@media (min-width: 500px) and (max-width: 535px) {
  .greeting-content {
    width: 250px;
  }
  .greeting-container h1,
  .greeting-container p {
    width: 240px;
  }
  .greeting-container h1 {
    font-size: 22px;
  }
  .greeting-container p {
    font-size: 13px;
  }
  .greeting-container #noun {
    font-size: 14px;
  }
}

@media (min-width: 535px) and (max-width: 650px) {
  .greeting-content {
    width: 300px;
  }
  .greeting-container h1,
  .greeting-container p {
    width: 290px;
  }
  .greeting-container h1 {
    font-size: 27px;
  }
  .greeting-container p {
    font-size: 15px;
  }
  .greeting-container #noun {
    font-size: 16px;
  }
}